.container
  --current-index-width var(--index-width)
  position relative
  min-height 100vh
  transition background-color 0.5s ease, color 0.5s ease
  @media _mobile
    width 100vw
  &.collapsed
    --current-index-width var(--buttons-width)
  main
    position relative
    display flex
    justify-content center
    align-items flex-start
    flex-direction column
    .hero
      --padding-hero 20vh
      height 0
      width 100vw
      transition margin 0.5s ease, height 0.5s ease
      object-fit cover
      object-position center center
      &.isHome
        height calc(100vh - var(--padding-hero))
      &.headerIsCollapsed
        margin-top 0
    .content
      width 100vw



