.container
  position fixed
  bottom 0
  right 0
  width (100/3*2)vw
  height 90vh
  background-color var(--color)
  .image
    width 100%
    height 100%
    object-fit cover
    object-position center center
    mix-blend-mode lighten