/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Trial Licence licence
 *
 * Trial Licence
 *
 * Trial Web License for evaluation, testing and presentation purposes on internal domains without public access only.
 * 
 * The font files may not be distributed, published or used on any other domain(s).
 * 
 * Any further use is strictly prohibited.
 *
 * For internal test and presentation use only.
 * For both print use and web / electronic use on internal domains without public access. Licencee may create documents / visuals / web pages etc. for the purpose of evaluation and presentation to clients or other interested parties.
 * Any further use is strictly prohibited. The font files may not be distributed, published or used on any other domain(s).
 *
 */

/* complete */

@font-face {
  font-family: "KleischLLTrialWeb-Thin";
  src: url("KleischLLTrialWeb-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-ThinItalic";
  src: url("KleischLLTrialWeb-ThinItalic.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-Light";
  src: url("KleischLLTrialWeb-Light.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-LightItalic";
  src: url("KleischLLTrialWeb-LightItalic.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-Regular";
  src: url("KleischLLTrialWeb-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-Italic";
  src: url("KleischLLTrialWeb-Italic.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-Book";
  src: url("KleischLLTrialWeb-Book.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-BookItalic";
  src: url("KleischLLTrialWeb-BookItalic.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-Medium";
  src: url("KleischLLTrialWeb-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-MediumItalic";
  src: url("KleischLLTrialWeb-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-Bold";
  src: url("KleischLLTrialWeb-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "KleischLLTrialWeb-BoldItalic";
  src: url("KleischLLTrialWeb-BoldItalic.woff2") format("woff2");
}


