
.navigation
  display flex
  align-items center
  justify-content center
  position fixed
  bottom var(--padding)
  right var(--padding)
  background-color var(--color)
  padding .5rem
  gap 2rem
  padding 1rem 1.2rem
  border-radius 9999px
  color white
  z-index 10
  transition transform 0.3s ease
  transform translateX(calc(var(--padding) + 150%))
  &.show
    transform translateY(0)
  a
    display flex
    align-items center
    justify-content center
    &:global(.disabled)
      opacity 0.3
      pointer-events none

