.container
  position fixed
  top 0
  left 0
  height var(--header-height-full)
  width calc(var(--header-width-full) + var(--index-width))
  z-index 10
  background-color var(--color)
  color white
  transition left 0.5s
  display flex
  justify-content space-between
  align-items flex-start
  overflow hidden
  @media _mobile
    flex-direction column
    width 100vw
    height 100dvh
    overflow-y scroll
    overflow-x visible
    overscroll-behavior contain
  .icon
    --border-width 1px
    background-color var(--color)
    position fixed
    top var(--buttons-width)
    left var(--buttons-width)
    z-index 15
    height calc(5rem + var(--border-width))
    width calc(5rem + var(--border-width))
    padding 1rem
    padding-bottom 0.5rem
    border-radius 100%
    border solid 2px white
    box-shadow 4px 4px 10px 2px #00000033
    transform translate(-50%, -25%)    
    cursor pointer
    transition left 0.5s
    @media _mobile
      top 1rem
      left calc(100vw - 1rem)
      padding 0.9rem
      padding-bottom 1rem
      transform translate(-100%, 0%)
    &.svg
      padding-top 2px
    &.isCollapsedFully
      @media _mobile
        left var(--buttons-width)
      // left calc(var(--header-width-full) + 1rem)
  .weclomeText
    width var(--header-width-full)
    height var(--header-height-full)
    display flex
    flex-direction column
    justify-content flex-start
    align-items flex-start
    text-align left
    padding var(--padding)
    padding-top calc(var(--padding) * 2 + 4rem)
    padding-bottom calc(var(--padding) * 4 + 4rem)
    gap var(--padding)
    line-height 0.95
    @media _mobile
      height auto
    h1
      position relative
      margin 0
      font-size var(--weclome-font-size)
      // line-height 0.98
      letter-spacing 1px
      hyphens auto
      font-family var(--font-header)
      font-weight 100
    h2
      // width 400px
      margin 0
      font-family var(--font-header)
      font-size var(--weclome-font-size)
      font-weight 500
      // line-height 1
      hyphens auto

  &.isCollapsed
    left calc(-1 * var(--header-width-full))
    .headerContent
      height 50vh
  &.isCollapsedFully
    left calc(-1 * var(--header-width-full) - var(--index-width) + var(--buttons-width))