
@import url('./fonts.styl');
// @import url('./raw.css')

:root 
  --text-container-width clamp(800px, 60vw, 1000px)

  --header-height-full 100vh
  --header-width-full clamp(300px,50vw, 700px)
  --header-height-collapsed 4rem

  --index-width 550px

  --buttons-width 4rem

  --padding 2.6rem

  --color #4E00FF
  --color-light #4E00FF11
  --background-color-secondary #EBEBEB
  --color-secondary #000

  --font-size 1.8rem
  --text-font-size 2.6rem
  --small-font-size 1.6rem
  --weclome-font-size clamp(5rem, (100/8)vh, 7rem)
  --title-font-size 5rem
  --subtitle-font-size clamp(2rem, (100/60)vh, 3.5rem)
  --small-title-font-size 1.4rem


  --font-external "KleischLLTrialWeb", serif
  --font-external "Sentient-Variable", sans-serif
  --font-header "Supremus", sans-serif
  --font-header "Ufficio_TRIAL", sans-serif
  --font-header "KleischLLTrialWeb", sans-serif
  --font-header var(--font-external)

  // --font-header "ABCGalapagosAC", sans-serif
  --font "ABCFavorit", sans-serif

@media _medium
  :root
    // 


@media _small
  :root
    // 


@media _bigmobile
  :root
    // 

@media _mobile
  :root
    --col-amount 1

    --header-width-full 100vw

    --text-container-width 100vw
    --index-width 100vw


    --font-size 2rem
    --text-font-size 2rem
    --small-font-size 1.4rem

    --weclome-font-size 4rem
    --title-font-size var(--text-font-size)
    --subtitle-font-size 1.8rem

    --padding 1.6rem

@media print
  :root
    --font-size 10pt
    --text-font-size var(--font-size)
    --small-font-size 9pt
    --title-font-size 32pt
    --subtitle-font-size 24pt
    --padding 1.6rem
    --text-container-width clamp(500px, 78%, 650px)
    --index-width 0


@page
  size A4 portrait
  margin 10mm 10mm 8mm 5mm


*
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing border-box
  font-stretch 100%
  scrollbar-color: var(--color-light) #fff
  scrollbar-width: thin
  vertical-align: baseline
  &::-webkit-scrollbar
    background: #fff
    border: none
    width: 8px
  &::-webkit-scrollbar-thumb
    background: #ccc
    border: none
  &::-webkit-scrollbar-track
    background: #fff
    border: none

button
  border none
  background none
  padding 0
  margin 0
  font-family inherit
  font-size inherit
  line-height inherit
  color inherit
  text-align inherit
  text-decoration none
  display inherit
  align-items inherit
  justify-content inherit

a
  all: unset;
  cursor: pointer;
  
html
  font-size 62.5%

  
html
body
  overflow-x hidden
  width 100vw

body
  min-height calc(100vh + 0.5px)
  margin 0
  padding 0
  font-family var(--font), sans-serif
  font-weight 500
  font-style normal
  font-size var(--font-size)
  line-height 1.15
  color var(--color)

p
  hyphens auto



*
  @media print
    scrollbar-width: none
  
