
@import url('./fonts.styl');
// @import url('./raw.css')

:root 
  --text-width clamp(600px, (100/2)vw, 900px)

  --header-height-full 100vh
  --header-width-full 50vw
  --header-height-collapsed 4rem

  --index-width 700px

  --buttons-width 4rem

  --padding 2.6rem

  --color blue
  --color-secondary lightsalmon

  --title-font-size clamp(5rem, (100/8)vh, 13rem)
  --subtitle-font-size clamp(2rem, (100/60)vh, 3.5rem)
  --small-title-font-size 1.4rem

  --font-external "KleischLLTrialWeb", serif
  --font-header "Prisma", sans-serif
  --font "ABCFavorit", sans-serif

@media _medium
  :root
    // 


@media _small
  :root
    // 


@media _bigmobile
  :root
    // 

@media _mobile
  :root
    --col-amount 1




*
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing border-box
  font-stretch 100%
  scrollbar-color: rgba(0,0,0,1) #fff
  scrollbar-width: thin
  vertical-align: baseline
  &::-webkit-scrollbar
    background: #fff
    border: none
    width: 8px
  &::-webkit-scrollbar-thumb
    background: #ccc
    border: none
  &::-webkit-scrollbar-track
    background: #fff
    border: none

button
  border none
  background none
  padding 0
  margin 0
  font-family inherit
  font-size inherit
  line-height inherit
  color inherit
  text-align inherit
  text-decoration none
  display inherit
  align-items inherit
  justify-content inherit

a
  all: unset;
  cursor: pointer;
  
html
  font-size 62.5%
  overflow-x hidden

  
html
body
  width 100vw

body
  font-family var(--font), sans-serif
  font-weight 500
  font-style normal
  font-size 2.3rem
  margin 0
  padding 0

p
  hyphens auto

