
// @import url('./fonts.styl');
// @import url('./raw.css')

:root 
  --text-width clamp(500px, (100/3)vw, 700px)
  --nav-width calc((100vw - var(--text-width)) / 2)

  --padding 2.6rem

  --color blue

@media _medium
  :root
    // 


@media _small
  :root
    // 


@media _bigmobile
  :root
    // 

@media _mobile
  :root
    --col-amount 1




*
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing border-box
  font-stretch 100%
  scrollbar-color: rgba(0,0,0,1) #fff
  scrollbar-width: thin
  vertical-align: baseline
  &::-webkit-scrollbar
    background: #fff
    border: none
    width: 8px
  &::-webkit-scrollbar-thumb
    background: #ccc
    border: none
  &::-webkit-scrollbar-track
    background: #fff
    border: none



a
  all: unset;
  cursor: pointer;
  
html
  font-size 62.5%
  overflow-x hidden

  
html
body
  width 100vw

body
  font-size 1.6rem
  margin 0
  padding 0


// @media (hover:hover)
//   a:hover 
//     text-decoration-line: underline

