// // Font definitions for ABC Monument Grotesk

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Thin-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Thin-Trail.woff') format('woff')
//   font-weight 100
//   font-style normal

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Light-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Light-Trail.woff') format('woff')
//   font-weight 300
//   font-style normal

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Regular-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Regular-Trail.woff') format('woff')
//   font-weight 400
//   font-style normal

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Medium-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Medium-Trail.woff') format('woff')
//   font-weight 500
//   font-style normal

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Bold-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Bold-Trail.woff') format('woff')
//   font-weight 700
//   font-style normal

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Heavy-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Heavy-Trail.woff') format('woff')
//   font-weight 800
//   font-style normal

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Black-Trial.woff2') format('woff2'),
//        url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Black-Trail.woff') format('woff')
//   font-weight 900
//   font-style normal

// // Italic variants
// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-ThinItalic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-ThinItalic-Trail.woff') format('woff')
//   font-weight 100
//   font-style italic

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-LightItalic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-LightItalic-Trail.woff') format('woff')
//   font-weight 300
//   font-style italic

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Italic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-Italic-Trail.woff') format('woff')
//   font-weight 400
//   font-style italic

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-MediumItalic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-MediumItalic-Trail.woff') format('woff')
//   font-weight 500
//   font-style italic

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-BoldItalic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-BoldItalic-Trail.woff') format('woff')
//   font-weight 700
//   font-style italic

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-HeavyItalic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-HeavyItalic-Trail.woff') format('woff')
//   font-weight 800
//   font-style italic

// @font-face
//   font-family 'ABCMonumentGrotesk'
//   src url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-BlackItalic-Trial.woff2') format('woff2'),
//         url('/assets/fonts/ABCMonumentGrotesk/ABCMonumentGrotesk-BlackItalic-Trail.woff') format('woff')
//   font-weight 900
//   font-style italic


/*
 *
 * INSTRUCTIONS
 *
 * Copy the Legal Disclaimer and the @font-faces statements to your regular CSS file.
 * The font file(s) should be placed relative to the regular CSS file.
 *
 */

/*
 * Legal Disclaimer for Trial Licence licence
 *
 * Trial Licence
 *
 * Trial Web License for evaluation, testing and presentation purposes on internal domains without public access only.
 * 
 * The font files may not be distributed, published or used on any other domain(s).
 * 
 * Any further use is strictly prohibited.
 *
 * For internal test and presentation use only.
 * For both print use and web / electronic use on internal domains without public access. Licencee may create documents / visuals / web pages etc. for the purpose of evaluation and presentation to clients or other interested parties.
 * Any further use is strictly prohibited. The font files may not be distributed, published or used on any other domain(s).
 *
 */

/* complete */

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Light.woff2") format("woff2")
  font-weight 300
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-LightItalic.woff2") format("woff2")
  font-weight 300
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Regular.woff2") format("woff2")
  font-weight 400
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Italic.woff2") format("woff2")
  font-weight 400
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Medium.woff2") format("woff2")
  font-weight 500
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-MediumItalic.woff2") format("woff2")
  font-weight 500
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Bold.woff2") format("woff2")
  font-weight 700
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-BoldItalic.woff2") format("woff2")
  font-weight 700
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Black.woff2") format("woff2")
  font-weight 900
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-BlackItalic.woff2") format("woff2")
  font-weight 900
  font-style italic


