

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-Light.woff2") format("woff2")
  font-weight 300
  font-style normal

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-LightItalic.woff2") format("woff2")
  font-weight 300
  font-style italic

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-Regular.woff2") format("woff2")
  font-weight 400
  font-style normal

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-Italic.woff2") format("woff2")
  font-weight 400
  font-style italic

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-Medium.woff2") format("woff2")
  font-weight 500
  font-style normal

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-MediumItalic.woff2") format("woff2")
  font-weight 500
  font-style italic

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-Bold.woff2") format("woff2")
  font-weight 700
  font-style normal

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-BoldItalic.woff2") format("woff2")
  font-weight 700
  font-style italic

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-Black.woff2") format("woff2")
  font-weight 900
  font-style normal

@font-face 
  font-family "KleischLLTrialWeb"
  src url("/fonts/kleisch/KleischLLTrialWeb-BlackItalic.woff2") format("woff2")
  font-weight 900
  font-style italic

// ----

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Light.woff2") format("woff2")
  font-weight 300
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-LightItalic.woff2") format("woff2")
  font-weight 300
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Regular.woff2") format("woff2")
  font-weight 400
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Italic.woff2") format("woff2")
  font-weight 400
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Medium.woff2") format("woff2")
  font-weight 500
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-MediumItalic.woff2") format("woff2")
  font-weight 500
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Bold.woff2") format("woff2")
  font-weight 700
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-BoldItalic.woff2") format("woff2")
  font-weight 700
  font-style italic

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-Black.woff2") format("woff2")
  font-weight 900
  font-style normal

@font-face 
  font-family "LetteraTextLLTrialWeb"
  src url("/fonts/lettera/LetteraTextLLTrialWeb-BlackItalic.woff2") format("woff2")
  font-weight 900
  font-style italic

@font-face
  font-family "ABCFavoritVariable"
  src url("/fonts/ABCFavoritVariable/ABCFavoritVariable-Trial.woff2") format("woff2")
  font-style normal

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-Ultralight.woff2") format("woff2")
  font-style normal
  font-weight 100

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-UltralightItalic.woff2") format("woff2")
  font-style italic
  font-weight 100

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-LightItalic.woff2") format("woff2")
  font-style italic
  font-weight 300

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-RegularItalic.woff2") format("woff2")
  font-style italic
  font-weight 400

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-Book.woff2") format("woff2")
  font-style normal
  font-weight 350

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-BookItalic.woff2") format("woff2")
  font-style italic
  font-weight 350

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-MediumItalic.woff2") format("woff2")
  font-style italic
  font-weight 500

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-BoldItalic.woff2") format("woff2")
  font-style italic
  font-weight 700

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-Extrabold.woff2") format("woff2")
  font-style normal
  font-weight 800

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-ExtraboldItalic.woff2") format("woff2")
  font-style italic
  font-weight 800

@font-face
  font-family "ABCFavorit"
  src url("/fonts/ABCFavorit/ABCFavorit-BlackItalic.woff2") format("woff2")
  font-style italic
  font-weight 900