.container
  --w calc(var(--text-width))
  --l calc(50vw - var(--w) / 2)
  --font-size 2.6rem
  --small-font-size 1.6rem
  display flex
  flex-direction column
  align-items flex-start
  width var(--w)
  margin-left clamp(var(--current-index-width),100vw, var(--l))
  // padding-bottom calc(var(--padding) * 3)
  padding-inline calc(var(--padding)) // update
  padding-left calc(var(--padding) * 3)
  hyphens auto
  font-size var(--font-size)
  transition margin 0.5s, width 0.5s
  > * 
    width calc(var(--text-width) - 5 * var(--padding))
    font-size var(--font-size)
    line-height 1.2
  .loading
    width var(--text-width)
    height calc(100vh - 300px)
    display flex
    align-items center
    justify-content center
    font-size var(--font-size)
    color var(--color-secondary)
    background-color var(--color-background)
  // texts
  > p, > h1, > h2 , > h3 , > h4 , > h5
    position relative
  p
    margin 0
    padding-bottom 1lh
  hr
    margin 0
    margin-bottom 1lh
  figure
    display flex
    flex-direction column
    justify-content center
    align-items center
    margin 0
    img
      width 80%
      max-height 70vh
      object-fit contain
      object-position left center
    figcaption
      width 80%
      padding-top 0.3lh
      font-size var(--small-font-size)

  p
    letter-spacing 0.2px
  h2
    text-align left
    font-size 7rem
    line-height 1.05
    font-family var(--font-header)
    font-weight 100
    max-width 80%
  h3
  h4
  h5
    font-size inherit
    margin-bottom .5lh
  h4
  h5
    margin-top 0
  :global([data-number])::before
    content attr(data-number)
    position absolute
    right 100%
    text-align right
    display inline
    padding-right 1rem
    // transform translateX(calc(var(--padding) * 2 - 1rem))
  ol
  ul
    margin-top 0
    padding 0
    li
      position relative
      padding-bottom .5lh
  ul
    li
      list-style none
      &:before
        --size 1.5rem
        --height 2px
        content ""
        background-color currentColor
        position absolute
        left calc(-1 * var(--size) - .5rem)
        height var(--height)
        width var(--size)
        transform translateY(calc(.5lh - (var(--height) / 2)))
  table
    width 90%
    // padding-inline calc(var(--padding) * .5)
    padding-bottom: 1lh;
    font-size var(--small-font-size)
    th
      padding-right .5rem
      padding-left .5rem
      strong
        display inline-block
        margin-bottom .5lh
        margin-top .5lh
    td
      padding-top .5lh
      padding-bottom .5lh
    td:nth-child(1)
    th:nth-child(1)
      width 40%
      padding-right 1rem
    td:nth-child(2)
    th:nth-child(2)
      width 60%
      padding-left 1rem
    thead
      th
        hyphens none
        text-align left
        // padding-bottom .5lh
    tbody
      tr
        border-top 1px solid lightgray
        td
          width 50%
        td:nth-child(2)
          width 50%
          padding-left .5rem
        td:nth-child(1)
          padding-right .5rem


  // [[start:blocks]]
  :global(.literature)
    --p clamp(var(--current-index-width), 100vw, var(--l))
    // color white
    // background-color var(--color-secondary)
    width 100vw
    display flex
    flex-direction column
    align-items flex-start
    padding-block var(--padding)
    padding-left var(--p)
    transform translateX(calc(var(--p) * -1))
    font-family var(--font) !important
    font-size var(--small-font-size)
    > *
      width var(--text-width)
      width calc(var(--text-width) * 0.6)
      &first-child
        font-weight bold
  :global(.block)
    padding 1rem
    border 1px solid var(--color)
    margin-bottom 1lh
  :global(.metadata)
    display flex
    flex-wrap wrap
    margin-bottom 2lh
    gap 1rem 2rem
    // padding 1rem
    font-size var(--small-font-size)
    > *
      flex-shrink 0
      width 100%
    :global(.before)
    :global(.after)
      width calc(50% - 1rem)
  :global(.fullimage)
    width calc(100vw - (var(--nav-width) - var(--padding) * 1))
    img
      width 80%
      height 100%
      object-fit cover
      object-position center
  :global(.comp)
    display flex
    font-size var(--small-font-size)
    gap 3rem
    width 80%
    :global(.plus)
    :global(.minus)
      flex-shrink 0
      width 50%
    :global(.plus)
      li
        list-style initial
        list-style-type: "+ ";
        &:before
          display none
    :global(.minus)
      li
        list-style initial
        list-style-type: "– ";
        &:before
          display none
  :global(.external)
    font-family var(--font-external)
    font-weight 400
    padding calc(var(--padding) * 2)
    padding-left calc(var(--padding) + clamp(var(--current-index-width), 100vw, var(--l)))
    padding-right calc(var(--padding) * 3)
    margin-left calc(var(--padding) * 3 * -1)
    background-color var(--color-secondary)
    color white
    width 100vw
    margin-left calc(clamp(var(--current-index-width), 100vw, var(--l))*-1)
    > p
      text-indent 30px
      width 85%
      width calc(var(--text-width) * 0.8)
      > * 
        text-indent 0
  // [[end:blocks]]