.container
  --w calc(var(--text-width) + var(--padding) * 2)
  --l calc(50vw - var(--w) / 2)
  display flex
  flex-direction column
  align-items flex-start
  width var(--w)
  margin-left clamp(var(--current-index-width),100vw, var(--l))
  padding-bottom calc(var(--padding) * 3)
  padding-inline var(--padding)
  hyphens auto
  transition margin 0.5s, width 0.5s
  > * 
    width var(--text-width)
    font-size 2.6rem
    line-height 1.2
  .loading
    width var(--text-width)
    height calc(100vh - 300px)
    display flex
    align-items center
    justify-content center
    font-size 2rem
    color var(--color-secondary)
    background-color var(--color-background)
  // texts
  // [[start:blocks]]
  p
    margin 0
    padding-bottom 1lh
  hr
    margin 0
    margin-bottom 1lh
  figure
    display flex
    flex-direction column
    justify-content center
    align-items center
    width 100%
    margin 0
    img
      width 80%
      max-height 70vh
      object-fit contain
      object-position left center
    figcaption
      padding-top 0.3lh
      font-size 1.4rem
  :global(.block)
    --p clamp(var(--current-index-width), 100vw, var(--l))
    color white
    background-color var(--color-secondary)
    width 100vw
    display flex
    flex-direction column
    align-items flex-start
    padding-block var(--padding)
    padding-left var(--p)
    transform translateX(calc(var(--p) * -1))
    font-family var(--font) !important
    > *
      width var(--text-width)
  :global(.fullimage)
    width calc(100vw - (var(--nav-width) - var(--padding) * 1))
    img
      width 80%
      height 100%
      object-fit cover
      object-position center
  :global(.external)
    font-family var(--font-external)
    font-weight 400
    > p
      text-indent 30px
      width 85%
      > * 
        text-indent 0
  // [[end:blocks]]
  p
    letter-spacing 0.2px
  h2
    text-align left
    font-size 7rem
    line-height 1.05
    font-family var(--font-header)
    font-weight 100
    max-width 80%
  h4
    font-weight inherit
  h1,
  h2,
  h3,
  h4,
  h5,
  h6
    position relative
  :global(.headingIndex)
    position absolute
    right 100%
    text-align right
    padding-right 2rem
    display inline
  ol
  ul
    padding-inline 0
    li
      position relative
      padding-bottom .5lh
  ul
    li
      list-style none
      &:before
        --size 1.5rem
        --height 2px
        content ""
        background-color currentColor
        position absolute
        left calc(-1 * var(--size) - .5rem)
        height var(--height)
        width var(--size)
        transform translateY(calc(.5lh - (var(--height) / 2)))
  table
    width calc(var(--text-width) + var(--padding) * 2)
    padding-inline calc(var(--padding) * .5)
    font-size 1.5rem
    td
    th
      padding-bottom 1lh
      padding-top .5lh
      padding-right .5rem
      padding-left .5rem
    td:nth-child(1)
    th:nth-child(1)
      width 40%
      padding-right 1rem
    td:nth-child(2)
    th:nth-child(2)
      width 60%
      padding-left 1rem
    thead
      th
        hyphens none
        text-align left
        padding-bottom .5lh
    tbody
      tr
        border-top 1px solid lightgray
        td
          width 50%
          padding-bottom 1lh
        td:nth-child(2)
          width 50%
          padding-left .5rem
        td:nth-child(1)
          padding-right .5rem
