.container
  display flex
  flex-direction column
  justify-content flex-start
  align-items center
  > * 
    width var(--text-width)
  blockquote
    background-color blue
    width 100%
    display flex
    flex-direction column
    justify-content flex-start
    align-items center
    color white
    > *
      width var(--text-width)
 