.container
  position fixed
  bottom 0
  right 0
  width calc(var(--nav-width) - var(--padding) * 2)
  max-height 80vh
  min-width 300px
  overflow scroll
  padding-inline var(--padding)
  background-color blue
  color white
  font-size 0.8em
  z-index 10
