.container
  position fixed
  bottom calc(var(--buttons-width) / 2)
  right calc(var(--buttons-width) / 4)
  width calc(var(--index-width) * 0.8 - var(--padding) * 2)
  max-height 80vh
  color white
  background-color transparent
  min-width 300px
  font-size 0.8em
  overflow-x hidden
  overflow-y scroll
  z-index 100
  .footnote
    background-color var(--color)
    padding var(--padding)
    border 2px dashed white
    p
      margin 0
  &.currentFootnoteIsSetFixed .footnote
    border 2px solid var(--color)
